<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Список книг</h2>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Название</th>
          <th scope="col">Стоимость</th>
          <th scope="col">Описание</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of Books; let i = index">
          <th scope="row">{{book._id}}</th>
          <td>{{book.name}}</td>
          <td>{{book.price}}</td>
          <td>{{book.description}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary mr-1" routerLink="/edit-book/{{book._id}}">Изменить</button>
            <button class="btn btn-sm btn-danger" (click)="delete(book._id, i)">Удалить</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
